@{
    ViewData["Title"] = "Son of Cod Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SonOfCod2.Models.Subscriber
@using System.Security.Claims

<div class="container jumbotron">
    <h4>Sign up for our newsletter!</h4><br />
    <p>By subscribing to our newsletter obtain updates and learn about future discounts!</p>
    <hr />
    @using (Html.BeginForm("SignUp", "Newsletter", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { type = "email", required = "required" })
        </div>
        <input type="submit" value="Subscribe" class="btn btn-default" />
    }
    @if (User.Identity.IsAuthenticated)
    {
        @using (Html.BeginForm("Subscribers", "Newsletter"))
        {
            <input type="submit" value="Current Subscribers" class="btn btn-danger" />
        }

    }


</div>
