@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@using SonOfCod2.ViewModels

<br />

<h2>Welcome to the Admin Portal!</h2>

<h3>Sign Below Using your Account.</h3>




